.keyboardButtons{
    height:60px;
    width:60px;
    border-radius: 50%;
    
    border:none;
    background-color: #052f69;
    color:white;
    font-size:2.4rem;
    border: 2px solid #052f69;
    transition: transform 0.3s ease-out;
}

button+button{
    margin-left: 5px;
    margin-top: 5px;
}

.keyboardButtons:hover{
    background-color: #1b4d92 ;
    transform: scale(1.1);
}

.keyboardButtons:disabled{
    background-color: white ;
    color:#052f69;
    pointer-events: none;
}

.guessingWord{
    font-size:50px;
    letter-spacing: 10px;
}

